.container{
    color: aliceblue;
    background: #000000b9;
    height: 80vh;
    width: 85vw;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 255px;


}

a{
    color: aqua;
}

@media screen and (min-width: 1024px) {
    .container{
    height: 100vh;
    width: 50vw;
    }
    
}